<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Welcome to IN+</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
                       required placeholder="Username"/>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
                       required placeholder="Password"/>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
              </div>
            <button type="submit" class="btn btn-primary block full-width m-b" [disabled]="loading">Login</button>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>

            <a href="#"><small>Forgot password?</small></a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
